
.card{
    display: inline-flex;
    align-items: center;
    padding: 20px 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.60);
    margin-top: 12px;
    width: auto !important;
    justify-content: center;
}
.card ~ .card{
    /*margin-left: 5%;*/
}
.card-name{
    flex-grow: 1;
    font-size: 1em;
    margin-right: 12px;
    display: flex;
    align-items: flex-start;
}
.card-type{
    flex-grow: 1;
    font-weight: 500;
    margin-right: 12px;
}

.card-hover{
    background-color: #c7d0a4;
}

.card-img{
    object-fit: fill;
    transition: transform .1s;
    filter:  grayscale(100%) brightness(1.1);
    image-rendering: pixelated;
    height: 96px;
}

.card-img.card-img-inids{
    filter: grayscale(10%) ;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokeball{
    height: 20px;
    filter:  grayscale(100%);
    margin-left: 8px;
}

.pokeball-inids{
    filter: grayscale(10%) ;
}