.inputControl {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 16px;

    label {
        margin-bottom: 8px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 8px 10px;
        border: none;
        border-radius: 6px;
        background-color: #f6f6f6;
        box-shadow: inset 0px 2px 4px 1px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease-in-out;

        &:focus {
            background-color: #f7e5f8;
        }
    }

    &[data-mandatory="true"] label::after {
        content: "*";
        margin-left: 4px;
        color: #f10000;
    }
}

